body
{
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #1C1C1C;
}


h1
{
  color: #B80A41;
}

a
{
  text-decoration: none;
}

p
{
  color: #1FFFE1;
  font-size: 25px;
}

img
{
  border-radius: 50px;
}


h1:hover
{
  color: white;
}
