@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body
{
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #000000;
  font-family: "ＭＳ Ｐゴシック";
  height: 100%;

}


.h3
{
  color: #D4D4D4;
  border: 1px solid;
}

a
{
  text-decoration: none;
}

p
{
  color: red;
  font-size: 20px;
  border: 1px solid;
}


h1
{
  color: #D4D4D4;
}

h1:hover
{
  color: white;
}

img
{
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges; /* Firefox */
  -ms-interpolation-mode: nearest-neighbor;
}

marquee
{
  color: #D4D4D4;
  text-align: center;
  border: 1px solid;
}
